<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passcheck</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer class="container" style="text-align: center;">
    <small><a href="https://github.com/danielmiessler/SecLists/blob/master/Passwords/500-worst-passwords.txt">Password
        list</a> downloaded from SecLists</small>
  </footer>
</body>

</html>
